  #accordion-resizer {
    padding: 10px;
    width: 350px;
    height: 1600px;
  }

  h1 { padding: .2em; margin: 0; }
  #products { float:left; width: 500px; margin-right: 2em; }
  #cart { width: 200px; float: left; margin-top: 1em; }
  /* style the list to maximize the droppable hitarea */
  #cart ol { margin: 0; padding: 1em 0 1em 3em; }
  .blueclass {
    color: blue;
  }
