  #accordion-resizer {
    padding: 10px;
    /* height: 600px; */
    overflow: scroll;
  }

  h1 { padding: .2em; margin: 0; }
  #playlist01-contents { margin-top: 1em; }
  /* style the list to maximize the droppable hitarea */
  #playlist01-contents ol { margin: 0; padding: 1em 0 1em 3em; }
  .blueclass {
    color: blue;
  }
