
  <% @musicGrouped.each_key do |grouping| %>
    <h2><a href="#"><%= grouping %></a></h2>
    <div>
    <% @musicGrouped[grouping].each do |gih| %>
      <li id="<%= (grouping.nil?  ? "nilgroup" : grouping) + '-' + gih.id.to_s %>"><%= gih.title %></li>
    <% end %>
    </div>
  <% end %>
