<div class="page-header"><h1>Testing</h1></div>

<div class="container-fluid">
  <div class="row">
    
    <!-- this is my playlist header-->
    <div class="col-md-4" id="leftCol">
      <div class="sidebar-nav-fixed affix">
        <div class="row">
          <div class="ui-widget">
            <label for="birds">Birds: </label>
            <input id="birds">
            <input id="birdsID">
          </div>
        </div> <!-- end 1st row -->
        <div class="row">
          <div id="playlist01-contents" class=ui-widget-header>
            <div class="ui-widget-content">
              <ol id="playlist01-ol"> <li class="placeholder">Add your items here</li> </ol>
            </div>  <!-- end ui-widget-content -->
          </div> <!-- ui-widget-header -->
        </div> <!-- end 2nd row -->
        <button type="button" id="updatePlaylist01" class="btn btn-primary" autocomplete="off">Update Playlist</button>
      </div>
    </div> <!-- end col -->
    
    <!-- this is my music list -->
    <div class="col-md-8" id="rightCol">
      <h1>XXXXXYYYYYXXXXX</h1>
      <div class="row">
        <div class="col-md-3">
          <fieldset>
            <label for="musicDisplay"></label>
            <select name="musicDisplay" id="musicDisplay">
              <option value="1">Artist-Album</option>
              <option value="2">Album</option>
              <option value="3">Song</option>
              <option value="4">Genre</option>
            </select>
          </fieldset>
        </div>
        <div class="col-md-2">  
          <fieldset>
            <label for="musicDisplaySegment"></label>
            <select name="musicDisplaySegment" id="musicDisplaySegment">
              <option value="A-C">A-C</option>
              <option value="D-F">D-F</option>
              <option value="G-I">G-I</option>
              <option value="J-L">J-L</option>
              <option value="M-O">M-O</option>
              <option value="P-R">P-R</option>
              <option value="S-U">S-U</option>
              <option value="V-Z">V-Z</option>
            </select>
          </fieldset>
        </div>
      </div>
 
      <div class="row">  <!-- embedded row -->
        <div class="col-md-12">
          <div class="ui-widget-header">
            <div id="accordion-resizer" class="ui-widget-content">
              <div id="music-list">
                <%= render 'music_list' %>
              </div>
            </div>   <!-- accordion-resizer/ui-widget-content -->
          </div> <!-- ui-widget-header -->
        </div> <!-- end col-md-12 -->
      </div>  <!-- end embedded row -->
  </div> <!-- end row -->
</div> <!-- end container -->
  
