<div class="page-header"><h1>Creating Playlists</h1></div>

<div class="container-fluid">
  <div class="row">
    
    <!-- this is my music list -->
    <div class="col-md-6">
      <h1 class="ui-widget-header">Music List By Genre</h1>
      <div id="accordion-resizer" class="ui-widget-content">
        <div id="music-list">
          <%= render 'music_list' %>
        </div>
      </div>
    </div> <!-- end col -->
    
    <!-- this is my playlist -->
    <div class="col-md-6">
      <div id="playlist01" >
        <h1 id="cart-header" class="ui-widget-header">PlayList</h1>
        <div class="ui-widget-content">
          <ol>
            <li class="placeholder">Add your items here</li>
          </ol>
        </div>
      </div>
    </div> <!-- end col -->
    
  </div> <!-- end row -->
  <div class="row">
    <%= link_to('MyButton', update_cart_path, remote: true, class: 'btn btn-primary') %>
  </div>
</div>
  
  <label>Your preferred programming landuage: </label>
  <select id="testcombo" >
    <option value="a">asp</option>
    <option value="c">c</option>
    <option value="cpp">c++</option>
    <option value="cf">coldfusion</option>
    <option value="j">java</option>
    <option value="js">javascript</option>
    <option value="s">scala</option>
  </select>